<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PlaceFolder List</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<div class="container">
    <h1 th:text="'PlaceFolder List'"></h1>

    <!-- Table -->
    <table class="table table-striped">
        <caption th:text="'PlaceFolder List'"></caption>
        <thead>
        <tr>
            <th th:text="'placeFolderId'"></th>
            <th th:text="'memberId'"></th>
            <th th:text="'name'"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="placeFolder : ${placeFolderPage.getContent()}">
            <td>
                <a th:href="@{'/place-folder/' + ${placeFolder.getPlaceFolderId()}}"
                   th:text="${placeFolder.getPlaceFolderId()}">
                </a>
            </td>
            <td th:text="${placeFolder.getMember().getMemberId()}"></td>
            <td th:text="${placeFolder.getName()}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div th:replace="~{fragments/pagination :: pagination (${placeFolderPage})}">Pagination</div>
</div>
</body>
</html>
