<!DOCTYPE html>
<html lang="en">
<head>
    <title>Member Detail</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- Header -->
<div th:replace="~{fragments/header :: header}">Header</div>

<!-- Table -->
<div class="container">
    <h1 th:text="'Member Detail'"></h1>
    <table class="table">
        <caption th:text="'Member Detail'"></caption>
        <thead>
        <tr>
            <th th:text="'Key'" scope="col"></th>
            <th th:text="'Value'" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th th:text="'MemberId'" scope="row"></th>
            <td th:text="${member.getMemberId()}"></td>
        </tr>
        <tr>
            <th th:text="'Name'" scope="row"></th>
            <td th:text="${member.getName()}"></td>
        </tr>
        <tr>
            <th th:text="'CreatedAt'" scope="row"></th>
            <td th:text="${member.getCreatedAt()}"></td>
        </tr>
        <tr>
            <th th:text="'UpdatedAt'" scope="row"></th>
            <td th:text="${member.getUpdatedAt()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
