<!DOCTYPE html>
<html lang="en">
<head>
    <title>Member List</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- Header -->
<div th:replace="~{fragments/header :: header}">Header</div>

<div class="container">
    <h1 th:text="'Member List'"></h1>

    <!-- Table -->
    <table class="table table-striped">
        <caption th:text="'Member List'"></caption>
        <thead>
        <tr>
            <th th:text="memberId"></th>
            <th th:text="name"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${memberPage.getContent()}">
            <td>
                <a th:href="@{'/member/' + ${member.getMemberId()}}"
                   th:text="${member.getMemberId()}">
                </a>
            </td>
            <td th:text="${member.getName()}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div th:replace="~{fragments/pagination :: pagination (${memberPage})}">Pagination</div>
</div>
</body>
</html>
