<!DOCTYPE html>
<html lang="en">
<head>
    <title>Place Detail</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- Header -->
<div th:replace="~{fragments/header :: header}">Header</div>

<div class="container">
    <h1 th:text="'Place Detail'"></h1>

    <div>
        <a class="btn btn-primary" th:href="'/place/' + ${place.getPlaceId()} + '/edit'" role="button"
           th:text="'수정'"></a>
    </div>

    <table class="table">
        <caption th:text="'Place Detail'"></caption>
        <thead>
        <tr>
            <th th:text="'Key'" scope="col"></th>
            <th th:text="'Value'" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th th:text="'PlaceId'" scope="row"></th>
            <td th:text="${place.getPlaceId()}"></td>
        </tr>
        <tr>
            <th th:text="'Name'" scope="row"></th>
            <td th:text="${place.getName()}"></td>
        </tr>
        <tr>
            <th th:text="'Latitude'" scope="row"></th>
            <td th:text="${place.getCoordinates().getLatitude()}"></td>
        </tr>
        <tr>
            <th th:text="'Longitude'" scope="row"></th>
            <td th:text="${place.getCoordinates().getLongitude()}"></td>
        </tr>
        <tr>
            <th th:text="'CreatedAt'" scope="row"></th>
            <td th:text="${place.getCreatedAt()}"></td>
        </tr>
        <tr>
            <th th:text="'UpdatedAt'" scope="row"></th>
            <td th:text="${place.getUpdatedAt()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
