<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Place</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- Header -->
<div th:replace="~{fragments/header :: header}">Header</div>

<div class="container">
    <h1 th:text="'Edit Place'"></h1>
    <form>
        <div class="form-group required">
            <label for="placeNameId" class="control-label" th:text="'이름'"></label>
            <input id="placeNameId" type="text" name="name" class="form-control" placeholder="Place 이름을 입력하세요."
                   th:value="${place.getName()}">
            <small class="form-text text-muted">ex) 할리스 강남역점, ...</small>
        </div>
        <div class="form-group required">
            <label for="placeLatitudeId" class="control-label" th:text="'Latitude'"></label>
            <input id="placeLatitudeId" class="form-control" name="latitude" type="number" step="0.000000000001"
                   placeholder="위도를 입력하세요." th:value="${place.getCoordinates().getLatitude()}">
            <small class="form-text text-muted">ex) 37.498768</small>
        </div>
        <div class="form-group required">
            <label for="placeLongitudeId" class="control-label" th:text="'Longitude'"></label>
            <input id="placeLongitudeId" class="form-control" name="longitude" type="number" step="0.000000000001"
                   placeholder="경도를 입력하세요." th:value="${place.getCoordinates().getLongitude()}">
            <small class="form-text text-muted">ex) 127.0277985</small>
        </div>
        <div class="form-group">
            <label for="placeAddressStreetAddressId" class="control-label" th:text="'Street Address'"></label>
            <input id="placeAddressStreetAddressId" class="form-control" name="streetAddress" type="text"
                   placeholder="도로명 주소를 입력하세요."
                   th:value="${place.getAddress() == null ? '' : place.getAddress().getStreetAddress()}">
            <small class="form-text text-muted">ex) 서울특별시 강남구 강남대로 402 시계탑빌딩 1층</small>
        </div>
        <div class="form-group">
            <label for="placeAddressLandAddressId" class="control-label" th:text="'Land Address'"></label>
            <input id="placeAddressLandAddressId" class="form-control" name="landAddress" type="text"
                   placeholder="지번 주소를 입력하세요."
                   th:value="${place.getAddress() == null ? '' : place.getAddress().getLandAddress()}">
            <small class="form-text text-muted">ex) 서울특별시 강남구 역삼동 820-11</small>
        </div>
        <div class="form-group">
            <label for="placeAddressPostalCodeId" class="control-label" th:text="'Postal Code'"></label>
            <input id="placeAddressPostalCodeId" class="form-control" name="postalCode" type="number"
                   placeholder="우편번호를 입력하세요."
                   th:value="${place.getAddress() == null ? '' : place.getAddress().getPostalCode()}">
            <small class="form-text text-muted">ex) 06134</small>
        </div>
        <div class="form-group">
            <label for="placePhoneNumberId" class="control-label" th:text="'Phone Number'"></label>
            <input id="placePhoneNumberId" class="form-control" name="phoneNumber" type="tel"
                   th:value="${place.getPhoneNumber() == null ? '' : place.getPhoneNumber().getValue()}"
                   placeholder="전화번호를 입력하세요. ">
            <small class="form-text text-muted">ex) 02-555-0890</small>
        </div>
        <div class="form-group">
            <label for="placeElectricOutletCountId" class="control-label" th:text="'Electric Outlet Count'"></label>
            <input id="placeElectricOutletCountId" class="form-control" name="electricOutletCount" type="number"
                   th:value="${place.getElectricOutletCount() == null ? '' : place.getElectricOutletCount().getValue()}"
                   placeholder="콘센트 개수를 입력하세요.">
            <small class="form-text text-muted">1구당 1개로 세어주세요</small>
        </div>
        <div class="form-group">
            <label for="placeSeatCountId" class="control-label" th:text="'Seat Count'"></label>
            <input id="placeSeatCountId" class="form-control" name="seatCount" type="number"
                   th:value="${place.getSeatCount() == null ? '' : place.getSeatCount().getValue()}"
                   placeholder="자리 개수를 입력하세요.">
            <small class="form-text text-muted">의자 개수</small>
        </div>
        <div class="form-group">
            <label for="placeTableCountId" class="control-label" th:text="'Table Count'"></label>
            <input id="placeTableCountId" class="form-control" name="tableCount" type="number"
                   th:value="${place.getTableCount() == null ? '' : place.getTableCount().getValue()}"
                   placeholder="모든 테이블 개수를 입력하세요.">
        </div>
        <div class="form-group">
            <label for="placeCommunalTableCountId" class="control-label" th:text="'Commnual Table Count'"></label>
            <input id="placeCommunalTableCountId" class="form-control" name="communalTableCount" type="number"
                   th:value="${place.getCommunalTableCount() == null ? '' : place.getCommunalTableCount().getValue()}"
                   placeholder="단체석 테이블 개수를 입력하세요.">
            <small class="form-text text-muted">단체석 기준 : 5인 이상 테이블</small>
        </div>
        <button id="placeSubmitId" type="submit" formmethod="post" class="btn btn-primary"
                th:text="'수정'"></button>
    </form>
</div>
</body>
</html>
