<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Place</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- Header -->
<div th:replace="~{fragments/header :: header}">Header</div>

<div class="container">
    <h1 th:text="'Edit Place'"></h1>
    <form>
        <div class="form-group required">
            <label for="placeNameId" class="control-label" th:text="'이름'"></label>
            <input id="placeNameId" type="text" name="name" class="form-control" placeholder="Place 이름을 입력하세요."
                   th:value="${place.getName()}">
            <small class="form-text text-muted">ex) 할리스 강남역점, ...</small>
        </div>
        <div class="form-group">
            <label for="placeLatitudeId" class="control-label" th:text="'Latitude'"></label>
            <input id="placeLatitudeId" class="form-control" name="latitude" type="number" step="0.000000000001"
                   placeholder="위도를 입력하세요." th:value="${place.getCoordinates().getLatitude()}">
        </div>
        <div class="form-group">
            <label for="placeLongitudeId" class="control-label" th:text="'Longitude'"></label>
            <input id="placeLongitudeId" class="form-control" name="longitude" type="number" step="0.000000000001"
                   placeholder="경도를 입력하세요." th:value="${place.getCoordinates().getLongitude()}">
        </div>
        <button id="placeSubmitId" type="submit" formmethod="post" class="btn btn-primary"
                th:text="'수정'"></button>
    </form>
</div>
</body>
</html>
