<!DOCTYPE html>
<html lang="en">
<head>
    <title>Place List</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- Header -->
<div th:replace="~{fragments/header :: header}">Header</div>

<div class="container">
    <h1 th:text="'Place List'"></h1>

    <div>
        <a class="btn btn-primary" href="/place/add" role="button" th:text="'추가'"></a>
    </div>

    <!-- Table -->
    <table class="table table-striped">
        <caption th:text="'Place List'"></caption>
        <thead>
        <tr>
            <th th:text="placeId"></th>
            <th th:text="name"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="place : ${placePage.getContent()}">
            <td>
                <a th:href="@{'/place/' + ${place.getPlaceId()}}"
                   th:text="${place.getPlaceId()}">
                </a>
            </td>
            <td th:text="${place.getName()}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div th:replace="~{fragments/pagination :: pagination (${placePage})}">Pagination</div>
</div>

</body>
</html>
